* {
    background-color: #c1dbb3;
    box-sizing: border-box;
    

    
    
    
    
    
}
.wrapper > div {
    position: relative;
    left: 1.5%;
}
section {
    padding-top: 5px;
}

.heading {
    font-style: italic;
    text-align: right;
   
    font-size: 2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #769fb6;
   
    
}
header {
    font-family: 'Gotham', sans-serif;
    text-align: center;
    font-size: 2em;
    
   
}
.section1{
    width: 33.33%;
    float: left;
    height: 50px;
    padding: 4px;
    

    


    
}
h1 {
    color: #188fa7;
    background-color: #db4f4a5d;
    font-style: italic;
    
}
.section2{
    width: 33.33%;
    float: left;
    padding: 4px;
    



}
.section3{
    width: 33.33%;
    float: left;
    padding: 4px;



}

/* breakpoints at 992px, 768 and 991px , 767px */
@media (min-width: 992px) {
    .section1{
        width: 32%;
        float: left;
        height: 150px;
        border-style: solid;
        overflow: auto;
        background-color: #9dbbae;
        margin: 3px;
        
        
        
    
    
        
    }
    .section2{
        width: 32%;
        float: left;
        height: 150px;
        border-style: solid;
        overflow: auto;
        background-color: #9dbbae;
        margin: 3px;
    
    
    }
    .section3{
        width: 32%;
        float: left;
        height: 150px;
        border-style: solid;
        overflow: auto;
        background-color: #9dbbae;
        margin: 3px;
    
    
    }
    
}
@media (min-width: 768px) and (max-width: 991px) {
    .section1{
        width: 49%;
        float: left;
        height: 150px;
        border-style: solid;
        overflow: auto;
        background-color: #9dbbae;
        margin-bottom: 10px;
        margin: 3px;
        
        
        
    
    
        
    }
    .section2{
        width: 49%;
        float: left;
        overflow: auto;
        height: 150px;
        border-style: solid;
        background-color: #9dbbae;
        margin: 3px;
        
        
        
    
    
    }
    .section3{
        width: 100%;
        float: left;
        overflow: auto;
        height: 150px;
        border-style: solid;
        background-color: #9dbbae;
        clear: left;
        
        
        
    
    
    }
    

}
@media (max-width: 767px) {
    .section1{
        width: 100%;
        float: left;
        height: 150px;
        border-style: solid;
        overflow: auto;
        background-color: #9dbbae;
        margin-bottom: 10px;
        
       
    
        
    }
    .section2{
        width: 100%;
        float: left;
        height: 150px;
        border-style: solid;
        overflow: auto;
        background-color: #9dbbae;
        margin-bottom: 10px;
        
    
    
    
    }
    .section3{
        width: 100%;
        float: left;
        height: 150px;
        border-style: solid;
        overflow: auto;
        background-color: #9dbbae;
    
    
    
    }
    
}